.video {
  max-height: revert;
  min-height: revert;
  margin-left: auto;
  margin-right: auto;
}

.video-title {
  color: black;
  margin-top: 4vh;
}

.video-description {
  margin-top: revert;
  margin-top: auto; 
}

.video-text {
  margin-bottom: auto;
}

.cart-btn {
  margin-top: 5vh;
  min-width: 100%;
}