.productWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  z-index: 1100;
  width: 100%;
  // padding-left: 5vw;
  // padding-right: 5vw;
  &--2 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    .variations > * {
      margin-left: 0;
      max-width: 400px;
    }
  }
}
.kjCnuH .image {
  min-height: 400px !important;
}

.barbersWrapperGrid {
  grid-template-columns: repeat(3, 1fr);
}

.videoWrapperGrid {
  grid-template-columns: repeat(2, 1fr);
}

.addMarginTop {
  margin-top: 4vh;
}

.menu {
  max-width: 100px;
  margin-top: 5%;
  margin-bottom: 2vh;
  margin-right: 10px;
  display: flex;
}

.vendor {
  margin-left: 10vw;
}

.product-page-product-wrapper {
  display: flex;
  align-items: flex-start;
}

.product-page-right {
  flex: 1;
  padding-left: 12vw;
}

.shop-wrapper {
  display: flex;
  flex-direction: row;
}

.menu {
  max-width: 100px;
  margin-top: 5%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  .spacer {
    margin-top: 2vh;
  }

  .productWrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 0vw;
    padding-left: 0;
    padding-right: 0;
  }

  .vendor {
    margin-left: 10vw;
    margin-top: 3vh;
  }

  .shop-wrapper {
    display: inherit;
    flex-direction: inherit;
  }

  .variations {
    margin-top: 5vh;
  }

  .column {
    position: fixed;
    margin-bottom: 8vh;
    margin-left: 2vw;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .barbersWrapperGrid {
    padding-left: 0;
    padding-right: 0;
  }
  .product-page-product-wrapper {
    display: block;
  }
  .product-page-right {
    padding-left: 0;
  }
}
