@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Ubuntu:500,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

@font-face {
  font-family: "greatvibes";
  src: url("../../fonts/greatvibes.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "lato" !important;
  font-weight: 100;
  background: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu" !important;
  color: #2f2f2f;
  margin-bottom: 1rem;
}

h1 {
  font-size: 36px;
  font-weight: 300 ;
}

h1,
h2 {
  font-family: "greatvibes" !important;
}
p,
label {
  color: #999;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #999;
}



.btn,
button {
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  text-align: center;
  color: #333;
  border-width: 0px;
  border-color: white;
  outline: none;
  padding: 12px;
  box-shadow: 2px 5px 10px rgba(141, 141, 141, 0.1);
  background-color: #fff;
  border-radius: 6px;
  letter-spacing: 1.5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(rgb(152, 253, 152), 10%);
  }
}

.input-container {
  margin: 0 auto;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  max-width: 400px;
  width: 100%;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  background: #333;
  padding: 10px;
}

/* Hide the browser's default radio button */
.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 50%;
  left: 15px;
  height: 25px;
  width: 25px;
  transform: translateY(-50%);
  background-color: #222;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.input-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.input-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.input-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.input-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media only screen and (min-width: 900px) {
  .desktop-layout {
    display: flex;
    flex-direction: row;
    min-width: 100%;
  }
  
  .side-page-design {
    min-height: 100%;
    width: 10vw !important;
    background-color: #2F2E2E;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .circle {  
    height: 21px;
    width: 21px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh
  }
  
  .first {
    margin-top: 75vh;
  }

  .last {
    margin-top: 10vh;
  }

  .line {
    border-left: 1px solid ; 
    height: 80vh; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: #bbb;
  } 
}

.spacing {
  margin-bottom: 3rem;
}
.section {
  padding: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.off-section {
  background-color: #EEE9E9;
}

.section-subtitle {
  color: #2F2E2E;
  padding-left: 6vw;
  margin-bottom: 5vh;
  width: 100%;
  font-size: 30px;
  font-weight: lighter;
}

.section-description {
  color: #2F2E2E;
  padding-left: 6vw;
  padding-bottom: 4vh;
  max-width: 800px;
  width: 100%;
  font-size: 18px;
}

.section-button {
  display: flex; 
  justify-content: center;
  width: 50%;
  margin-top: 5vh;
  margin-bottom: 15vh;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  margin-top: 2.5vh;
  margin-bottom: 15px;
  margin-right: 25px;
  color: #fff;
  background-color: #4a4a4a !important;
}

.desktop-children {
  min-width: 94%;
}

@media only screen and (max-width: 900px) {
  .productWrapper {
    grid-template-columns: none;
    justify-content: center;
  }

  .section-subtitle {
    font-size: 24px !important
  }

  .section-description {
    padding-left: 0vw;
  }
}