.header {
  background: #2f2f2f ;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav {
  padding: 0.5vh 100px 0.5vh 6vw;
  background: #2f2f2f ;
  width: 100%;
  background: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a:not(.logo) {
    color: #fff;
    font-weight: lighter;
    padding: 25px;
    margin: 0 10px;
    display: inline-block;
  }

  &--with-background {
    background: #2f2f2f;
  }
}

.active {
  border-bottom: 2px solid #2980b9;
}

.toggle {
  display: none;
}

@media only screen and (max-width: 900px) {

  .header {
    padding: 16px 0;
  }

  .nav {
    padding: 0 20px;
    position: absolute;
    flex-direction: column;
    background: #2f2f2f;
    min-height: calc(100vh - 50px);
    justify-content: center;
    overflow: scroll;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;

    a:not(.logo) {
      padding: 10px;
      margin: 10px auto;
    }

  }

  .open {
    visibility: visible;
    opacity: 1;
  }

  .toggle {
    display: block;
    position: relative;
    z-index: 2000;
    padding: 8px 12px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin-right: 140px;
    
    svg {
      margin-left: 10px;
    }
  }

}
