.section-text {    
    @media only screen and (max-width: 900px) {        
        p {
            opacity: 90%;
            line-height: 1.75em;
        }
    }  
}

.clients {
    display: flex;
    justify-content: space-around;
    
}

@media only screen and (max-width: 900px) {
    .clients {
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        margin-left: 5vw;
    }
}  