.cardStyles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  max-height: 500px;
  color: "#333";
  min-width: 300px;
  
  .image-wrapper {
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  .image {
    min-height: 100px;
    min-width: 100px;
    max-width: 150px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    background-size: cover;
    border-radius: 50%;
  }


  .title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;

    h4 {
      font-weight: lighter;
      font-family: 'Lato';
    }
  }

  p {
    text-align: left;
    color: #555;
    margin-top: 20px;
    
  }

  select {
    background-color: #fff;
  }
  
  .text {
    margin-bottom: auto; 
    margin-top: 10px;
  }
}

.cart-btn {
  margin-top: 5vh;
}